.box {
	width: 100%;
	height: 100%;
	background-color: #7ad2ce;
	display: flex;
	align-items: center;
	justify-content: space-between;


}
.round-box {
	width: 135px;
	height: 135px;
	border-radius: 5.5em 5.5em 5.5em 5.5em;
	transform: scale(1,1);
	animation-name: play;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

}
.round-box:hover {
	transform: scale(0,0);
	transition-duration: 5s;
	opacity: 0


}
@-webkit-keyframes play {
	0% {
		padding-bottom: 0%;
	}
	50% {
		padding-bottom: 60%;
	}
	100% {
		padding-bottom: 0%;
	}
}
	
